body
{
    background-image: url('/static/pexels-maria-orlova-4917083.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: cornflowerblue;
    color: white;
}

#listRooms.ghosted
{
    opacity: 0.85;
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}