{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="container-md rounded justify-content-center align-items-center text-dark bg-light py-5 px-5 my-5" style="max-width: 600px;">
        <h1 class="mb-5">Register</h1>

        <form action="/register" method="post" id="registerForm">
            <div class="mb-3">
                <input type="text" id="registerEmail" name="register_email" class="form-control" placeholder="Email*" aria-label="email address" autocomplete="off" autofocus required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" id="registerPassword" name="register_password" placeholder="Password*" autocomplete="off" required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" id="registerPasswordConfirm" name="register_password_confirm" placeholder="Confirm password*" autocomplete="off" required>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-secondary" id="registerButton" type="submit">Register</button>
            </div>

        </form>
    </div>


{% endblock %}